snowflake_organization_name = "{{SNOWFLAKE_ORG}}"
snowflake_account_name      = "{{SNOWFLAKE_ACCOUNT}}"
snowflake_user              = "{{SNOWFLAKE_USER}}"
snowflake_authenticator     = "{{SNOWFLAKE_AUTHENTICATOR}}"
snowflake_admin_role        = "{{SNOWFLAKE_ADMIN_ROLE}}"

mdm_graph_review_dashboard_enabled = {{MDM_DASHBOARD_ENABLED}}

{{NATIVE_PULL_BLOCK}}
